body {
    padding-top: 3.1rem;
}

.bg-moj {
    background-color: #385777;
}

.table-header {
    border: 0;
    padding-top: 10px;
    background-color: white;
    border-bottom: 1.5px solid rgb(155, 154, 154);
}

.dis {
    border-bottom: 1.5px solid rgb(201, 201, 201);
}

.table-header:focus{
    border-color: rgb(102, 102, 102);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

table.floatThead-table {
    border-top: none;
    border-bottom: none;
    background-color: #fff;
}

.sipka, .placeholderDiv {
    filter: opacity(60%);
    display: inline-block;    
    width: 20px;
}
table>thead>tr>th {
    text-align: left;
}

table>thead>tr>th>div {
    text-align: center;
    display: inline-block;
}