{% extends "main_template.html" %} {% block content %}
<table id="tabulka" class="table sticky-header">
    <thead class="table-header">
        <tr>
            <th>
                <div>
                    <input class="table-header" type="text" placeholder="#">
                    <img onclick="switchB(this)" data-filterID="0" class="sipka" src="{{ url_for('static', filename='images/icons/desc.png') }}" alt="" srcset="">
                </div>
            </th>
            <th>
                <div>
                    <input id="inputMeno" onkeyup="menaFilter()"  class="table-header" type="text" placeholder="Meno">
                    <img onclick="switchB(this)" data-filterID="1" class="sipka" src="{{ url_for('static', filename='images/icons/no.png') }}" alt="" srcset="">
                </div>
            </th>

            <th>
                <div>
                    <input id="inputPriezv" onkeyup="priezvFilter()"  class="table-header" type="text" placeholder="Priezvisko">
                    <img onclick="switchB(this)"data-filterID="3" class="sipka" src="{{ url_for('static', filename='images/icons/no.png') }}" alt="" srcset="">
                </div>
            </th>
            <th>
                <div>
                    <input class="table-header" type="text" placeholder="Email">
                    <div class="placeholderDiv"></div>
                </div>
            </th>
            <th>
                <div>
                    <input class="table-header" type="text" placeholder="Telefon">
                    <div class="placeholderDiv"></div>
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for student in ala %}
        <tr>
            <td>{{ student.studentID }}</td>
            <td>{{ student.studentName }}</td>
            <td>{{ student.studentSurname }}</td>
            <td>{{ student.studentEmail }}</td>
            <td>{{ student.studentPhone }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    var current = 'asc';
    function switchB(event) {
        if (current === 'asc') {
            current = 'desc';
            event.srcElement.src = "{{ url_for('static', filename='images/icons/asc.png') }}";
            console.log(event.srcElement.getAttribute('data-moja'));
        }
        else if (current === 'desc') {
            current = 'asc';
            event.srcElement.src = "{{ url_for('static', filename='images/icons/desc.png') }}";
        }
    }
    function greet() {
        console.log('Hello my friend :D');
    }
    
</script>
<script src="{{url_for('static',filename='js/filter.js')}}"></script>
<script src="{{url_for('static',filename='js/stickyTableHeader.js', v='0.15')}}"></script>
{% endblock %}
