{% extends "main_template.html" %} {% block content %}
<table id="tabulka" class="table sticky-header">
    <thead class="table-header">
        <tr>
            <th>
                <div>
                    <input id="inputID" onkeyup="filterByID()" class="table-header" type="text" placeholder="#">
                </div>
            </th>
            <th>
                <div>
                    <input id="inputName" onkeyup="menaFilter()"  class="table-header" type="text" placeholder="Meno">
                </div>
            </th>

            <th>
                <div>
                    <input id="inputSurname" onkeyup="priezvFilter()"  class="table-header" type="text" placeholder="Priezvisko">
                </div>
            </th>
            <th>
                <div>
                    <input class="table-header" type="text" placeholder="Email">
                </div>
            </th>
            <th>
                <div>
                    <input class="table-header" type="text" placeholder="Telefon">
                </div>
            </th>
        </tr>
    </thead>
    <tbody>
        {% for student in ala %}
        <tr>
            <td> {{ student.studentID }} </td>
            <td> {{ student.studentName }}</td>
            <td> {{ student.studentSurname }} </td>
            <td> {{ student.studentEmail }} </td>
            <td> {{ student.studentPhone }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<!-- My filter script -->
<script src="{{url_for('static',filename='js/filter.js', v='0.035')}}"></script>

<!-- The sticky header script -->
<script src="{{url_for('static',filename='js/stickyTableHeader.js', v='0.3')}}"></script>
{% endblock %}
